.content-box {
  border: 5px solid red;
  padding: 10px;
  margin: 10px;
  background-color: blue;
  width: 200px;
  height: 200px;
  text-align: center;
}

.border-box {
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border: 5px solid red;
  background-color: blue;
  padding: 10px;
  margin: 10px;
  text-align: center;
}